<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mail.host" value="mail.gmx.com"/>
    <add key="mail.port" value="587"/> <!--Port - 465 or 587-->
    <add key="mail.user" value=""/>
    <add key="mail.pass" value=""/>
    <add key="mail.requireSSL" value="true"/>
    <add key="mail.requireTLS" value="true"/>
    <add key="mail.requireAuth" value="true"/>
    <add key="mail.to" value=""/>
    <add key="searchTerms" value="Timisoara,Timișoara"/>
  </appSettings>
</configuration>